.about{
    height:110vh;
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/public/images/background-wood.avif');
    box-shadow: 0px 50px 4px rgba(11, 11, 11, 0.25);
    background-attachment: fixed;
    background-position: 10% 27%;
    background-size: cover;

}

.about--right{
    width:40%;
    height:70%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right:3.1rem;
    padding-top:3rem;
}

.about--title{
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 59px;
    color:white;
    margin-bottom: .6rem;



}

.about--right p{
    width:90%;
    font-weight: 400;
    font-size: 1rem;
    line-height: 36px;
    text-align: right;
    letter-spacing: 0.095em;
    color: #FFFFFF;
    mix-blend-mode: normal;
}

.soundcloud-player{
    right:0;
    width:25%;
    height:17rem;
    justify-self: flex-start;
    margin-right:5rem;
}

.react-player{
    right:0;
    width:100% !important;
    height:100% !important;
}




/* -------------------------- */
/* laptop */
@media(max-width:1200px){
    .about{
        height:130vh;
        /* padding:10rem 0; */
    }
    .about--right{
        width:55%;
        height:60%
    }
    .soundcloud-player{
        height:13rem;
    }
}
/* tablet */
@media(max-width:1000px){
    .about{
        height:60vh;
        display:flex;
        flex-direction: column;
        position: relative;
        padding:10rem 0
    }
    
   
    .about--right{
        width:70%;
        padding:2.5rem 1.5rem 5rem 1.5rem;
        height:auto;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        left:0;
        top:2rem;
       
    }

    .soundcloud-player{
        right:0;
        width:30%;
        height:10rem;
        position: absolute;
        bottom:8rem;
        right:-2rem;
    }
    
    
    .about--title{
        font-family: 'Italiana';
        font-style: normal;
        font-weight: 400;
        text-align: right;;
        font-size: 2rem;;
        line-height: 59px;
        margin-bottom: .3rem;

    }
    
    .about--right p{
        width:78%;
        font-size: .7rem;
        line-height: 25px;

    }
}

@media (max-width:980px){
    .about{
        height:43vh;
        
    }
    
   
   
}

@media (max-width:880px){
    .about{
        height:50vh;
        
    }
    
   
   
}
@media (max-width:780px){
    .about{
        height:60vh;
        
    }
    
   
   
}

/* phones */
@media (max-width:550px){

    .about{
        height:70vh;
        display:flex;
        flex-direction: column;
        position: relative;
        padding:10rem 0
    }
    
   
    .about--right{
        width:70%;
        padding:2.5rem 1.5rem 5rem 1.5rem;
        height:auto;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        left:0;
        top:2rem;
       
    }

    .soundcloud-player{
        right:0;
        width:50%;
        height:10rem;
        position: absolute;
        bottom:8rem;
        right:-2rem;
    }
    
    
    .about--title{
        font-family: 'Italiana';
        font-style: normal;
        font-weight: 400;
        text-align: right;;
        font-size: 2rem;;
        line-height: 59px;
        margin-bottom: .3rem;

    }
    
    .about--right p{
        width:100%;
        font-size: .7rem;
        line-height: 25px;

    }
    

}
@media (max-width:540px) {
    .about{
        height:95vh;
    }
    .music--title{
        width: 100%;
    }
}
@media (max-width:420px){
    .about{
        height:85vh;
    }
}

@media (max-width:390px){
    .about{
        height:100vh;
    }
}

@media (max-width:380px){
    .about{
        height:120vh;
    }
}


