@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }

*{
    box-sizing: border-box;
    margin:0;
    overflow-x: hidden;
    
    
}

body{
    overflow-x: hidden !important;
}

.text-shadow{
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

}