.footer{
    height:10vh;
    width:100%;
    background-color: black;
    color:white;
    display: flex;
    align-items: center;
    padding-left: 3.1rem;

}

.footer h5{
    font-size:1rem;
    font-family: 'Italiana';
}

@media (max-width:1000px){
    .footer h5{
        font-size: .8rem;
    }
}
