:root{
    --white:#ffffff;
}

.home{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/public/images/javier\ original\ .jpg');
    box-shadow: 0px 50px 4px rgba(11, 11, 11, 0.25);
    background-attachment: fixed;
    height:100vh;
    background-position: 20% 27%;
    background-size: cover;
    display: flex;
    width:100%;
    color:var(--white)

}

.main--side{
    width:50%;
    height:100%;
    gap: 5rem;
    display: flex;
    flex-direction: column;
    
}



.main--social{
    height:100%;
    display: flex;
    flex-direction: column;
    gap:1.8rem;
    justify-content: flex-end;
    padding:0 0 1.5rem 3.1rem;
    
}
.main--social a{
    
    width:8%;
}
.main--social a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
   
  }
  
  
  
  .main--social a:hover::after {
    width: 100%;
    transition: width .3s;
  }

.main--heading{
   
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right:3.1rem;
    font-family: 'Italiana', serif;
    margin-bottom:5rem;
    

}

.main--firstname{
    font-size:7.9rem;
    mix-blend-mode: normal;
    font-weight: 500;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom:0;

}

.main--surname span{
    color:rgb(253, 245, 12)

}

.main--surname{
    font-size:8rem;
    font-weight: 400;
    margin-top:-1rem;
}

.main--social-icon{
    width:1.7rem
}

/* -------------------------- */
/* phones */
@media (max-width:500px){
    
    .main--side{
        width:10%;
        height:100%;
        gap: 0rem;
        display: flex;
        flex-direction: column;
        
    }
    .home{
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/public/images/javier\ original\ .jpg');
        box-shadow: 0px 50px 4px rgba(11, 11, 11, 0.25);
        background-attachment: fixed;
        height:100vh;
        background-position: 20% 67%;
     
    
    }
    
    
    
    .main--social{

    width:20%;
        gap:1.5rem;
        padding:0 0 0rem 1.7rem;;
        height:95%;
        
    }
    .main--social a{
        
        width:8%;
    }
    .main--social a::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: white;
        transition: width .3s;
       
      }
      
      
      
      .main--social a:hover::after {
        width: 100%;
        transition: width .3s;
      }
    
    .main--heading{
       /* margin-top:-5rem; */
        /* width:75%; */
        padding-right:1.5rem;
      
        
    
    }
    
    .main--firstname{
        font-size:4rem;
        
    
    }
    
    
    .main--surname{
        font-size:5rem;
        
    }
    
    .main--social-icon{
        width:1.5rem
    }
    
}