
#check{
    display: none;
}
.background{
    /* width:110%; */
    /* height:110%; */
    z-index:-4;
    position:relative;
    animation-name : mymove;
    animation-iteration-count : infinite;
    animation-direction : alternate;
    animation-duration : 2s;
}

@keyframes mymove {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(20px);
    }
  }




.hidden{
    display: none;
}


/* ------------------------------ */

/* phones */
@media (max-width:550px){


    .more{
        display:none;
        transition: 1s linear;
    }

    label{
        display: inline-block;
        cursor: pointer;
        font-weight: 800;
    }
    
    #check:checked ~ .more{
        display: block;
    }
    
    #check:checked ~ label{
        visibility: hidden;
    
    }

    #check:checked ~ label:after{
        content: 'leer menos...';
        display: block;
        visibility: visible;
    }



    .more-btn{
        display: flex;
        padding:.5rem;
    }
    
    .more-btn:hover{
        background-color: rgb(19, 19, 19, .5);
    }

   

}

