.music{
    height:110vh;
    /* color:yellow; */
    display:flex;
    position:relative;
    align-items: center;
    
}



.background{
    width:110%;
    height:110%;
    z-index:-4;
    position:relative;
    animation-name : mymove;
    animation-iteration-count : infinite;
    animation-direction : alternate;
    animation-duration : 2s;
}

@keyframes mymove {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(20px);
    }
  }


  .music--content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left: 0;
  }
.music-souncloud-widget{
    
    margin-left:2rem;
    z-index:4;
    width:25%;
    height:17rem;
    /* justify-self: flex-start; */
    /* margin-right:5rem;  */
    
}

.react-player{
    width:50%;
}

.music--right{
    width:50%;
    position:absolute;
    background-color: black;
    right:0rem;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:3rem 3.1rem;
    
    
}

.music--title{
    font-family: 'Italiana';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 59px;
/* identical to box height */
margin-bottom: .6rem;



}

.music--right p{
    width:90%;
    font-weight: 400;
font-size: 1rem;
line-height: 36px;
/* display: flex;
align-items: center; */
text-align: left;
letter-spacing: 0.095em;

color: #FFFFFF;

mix-blend-mode: normal;
}


/* ------------------------------ */


@media (max-width:500px){

    .music{
        height:100vh;
        display:flex;
        flex-direction: column;
        justify-content:center ;
        overflow: hidden;
        padding-bottom:3rem;
     
    }
    
    .music--right{
        width:100%;
     
    }
    
    .music--right{
        width:70%;
        padding:2.5rem 2rem 5rem 1.5rem;
        height:auto;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

    }
    .background{
        width:300%;
        height:110%;
        position: absolute;
        top:-2rem;
        overflow-x: hidden;
        
    
    }

   .music-souncloud-widget{
        height:10rem;
        width:50%;
        align-self: end;
 
        
    }
    
    .music--title{
        font-family: 'Italiana';
        font-style: normal;
        font-weight: 400;
        font-size: 2.5rem;;
        line-height: 59px;
        margin-bottom: .3rem;
    
    
    }
    
    .music--right p{
        width:100%;
        font-size: .7rem;
        line-height: 25px;

    }
    

}

@media (max-width:390px){
    .music{
        height:150vh;
       
     
    }
}